@mixin border-b1($color){
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $color;
  }
}
@mixin flex($x:center, $y:center){
  display: flex;
  flex-direction: row;
  justify-content:$x;
  align-items: $y;
}
@mixin bg-img($url){
  background-image: url($url + '@2x.png');
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3){
    background-image: url($url + '@3x.png');
  }
}
@mixin spt-icon($s:1){
  .decrease{
    @include bg-img('decrease_'+ $s);
  }
  .discount{
    @include bg-img('discount_'+ $s);
  }
  .guarantee{
    @include bg-img('guarantee_'+ $s);
  }
  .invoice{
    @include bg-img('invoice_'+ $s);
  }
  .special{
    @include bg-img('special_'+ $s);
  }
}